.background{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	flex-direction: row;
	background-image: url('grey wallpaper.jpg');

}.container{
display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-end;
	width: 50%;
	height: 500px;
	left: 350px;
	top: 50px;
	background: white;
	border-radius: 90px;
}.containera{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 100px;
	text-align: center;
	top: 50px;
	left: 50px;
	align-items: flex-start;
}
.font{
	font-size: 1.8em;
	position: relative;
	display: flex;
	width: 40%;
	height: 100%;

}.containerb{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 100px;
	text-align: center;
	top: 50px;
	right: 50px;
	align-items: flex-end;
}
.font2{
	font-size: 2.8em;
	position: relative;
	display: flex;
	width: 50%;
	height: 100%;
	text-align: left;

}
.container2{
	display: flex;
	position: relative;
	align-items: flex-end;
	width: 100%;
	height: 2%;
	left: 100px;
	top: 50px;
}
