.background{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	flex-direction: row;
}.container1{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 55%;
	align-items: flex-start;
}.fotoadebe{
	position: relative;
	width: 400px;
	left: -200px;
	height: 450px;
	top: 150px;
	border-radius: 217px;
	background-size: 100% 100%;
	background-image: url('fotoadebe2.jpg');
}
.container2{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-end;
}.container2-a{
	display: flex;
	position: relative;
	flex-direction: column;
	height: 220px;
	width: 150%;
	top: 150px;
	right: 100px;
	background-color: #FEFBFB;
}.container2-a h2{
	position: relative;
	color: #000000;
	line-height: 25px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	font-size: 35px;
}.container2-a h3{
	position: relative;
	font-style: normal;
	letter-spacing: 0.02em;
	line-height: 5px;
	font-family: 'Rubik', sans-serif;
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}.container2-b{
	display: flex;
	position: relative;
	flex-direction: column;
	height: 150px;
	top: 150px;
	left: -100px;
	width: 150%;
	background-color: #FEFBFB;
}.container2-b h2{
	position: relative;
	color: #000000;
	line-height: 25px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	font-size: 35px;
}.container2-b h3{
	position: relative;
	font-style: normal;
	letter-spacing: 0.02em;
	line-height: 5px;
	font-family: 'Rubik', sans-serif;
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}