.background{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	flex-direction: row;
}.container1{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 55%;
	align-items: flex-start;
}.fotopapa{
	position: relative;
	width: 200px;
	right: : 0px;
	height: 250px;
	top: 50px;
	border-radius: 217px;
	background-size: 100% 100%;
	background-image: url('papa.jpg');
}.fotomama{
	position: relative;
	width: 200px;
	right: : 0px;
	height: 250px;
	top: 50px;
	border-radius: 217px;
	background-size: 100% 100%;
	background-image: url('mama.jpg');
}
.container2{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-end;

}.container2-a{
	display: flex;
	position: relative;
	flex-direction: column;
	height: 220px;
	width: 100%;
	top: 80px;
	right: 300px;
	background-color: #transparent;
}.container2-a h2{
	position: relative;
	color: #000000;
	line-height: 25px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	font-size: 30px;
}.container2-a h3{
	position: relative;
	font-style: normal;
	letter-spacing: 0.02em;
	line-height: 15px;
	font-family: 'Rubik', sans-serif;
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}.container2-b{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 200px;
	top: 100px;
	right: 300px;
	background-color: transparent;
}.container2-b h2{
	position: relative;
	color: #000000;
	line-height: 25px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	font-size: 30px;
}.container2-b h3{
	position: relative;
	font-style: normal;
	letter-spacing: 0.02em;
	line-height: 15px;
	font-family: 'Rubik', sans-serif;
	text-align: left;
	font-weight: normal;
	font-size: 15px;
}.container2-c{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 200px;
	top: 100px;
	right: 200px;
}
