body{
	background-color: #EBEBEB;
}
.container_adebe{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 25%;
	align-items: flex-start;
	top: 0%;
	height: 20px;
}.container_adebe h2{
	font-family: 'Rammetto One', cursive;
	font-size: 35px;
	font-weight: bold;
	color: white;
	left: 0px;
}.containertombol{
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	height: 30%;
	top: 0%;
	align-items: flex-start;
	background-color: transparent;
	right:0%;
}