<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
.background{
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
	flex-direction: row;
}.container1{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 55%;
	align-items: flex-start;
}.fotoadebe{
	position: relative;
	width: 400px;
	left: 82px;
	height: 579px;
	top: 150px;
	border-radius: 217px;
	background-size: 100% 100%;
	background-image: url('fotoadebe1.jpg');
}.container2{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-end;
}.container2-a{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 50%;
	height: 220px;
	top: -500px;
	right: 20px;
	background-color: #FEFBFB;
}.container2-a h2{
	position: relative;
	color: #000000;
	line-height: 25px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	font-size: 35px;
}.container2-a h3{
	position: relative;
	font-style: normal;
	letter-spacing: 0.02em;
	line-height: 5px;
	font-family: 'Rubik', sans-serif;
	text-align: left;
	font-weight: normal;
	font-size: 20px;
}.container2-b{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 50%;
	height: 150px;
	top: -500px;
	right: 20px;
	background-color: #FEFBFB;
}.container2-b h2{
	position: relative;
	color: #000000;
	line-height: 25px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	font-size: 35px;
}.container2-b span{
	font-size: 20px;
}.container2-c{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 50%;
	height: 260px;
	top: -500px;
	right: 20px;
	background-color: #FEFBFB; 
}.container2-c h2{
	position: relative;
	color: #000000;
	line-height: 25px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	font-size: 35px;
}.container2-c h3{
	position: relative;
	color: #000000;
	line-height: 5px;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	font-size: 20px;
}